*, *:after, *:before{
    box-sizing: border-box;
}

body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;
}

#panorama{
    width: 100%;
    height: 100vh;
}
#music-toggle {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 26px;
    height: 26px;
    text-align: center;
}